<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
		    http://www.springframework.org/schema/context/spring-context.xsd
		    http://www.springframework.org/schema/aop
		    http://www.springframework.org/schema/aop/spring-aop.xsd
            http://www.springframework.org/schema/tx
		    http://www.springframework.org/schema/tx/spring-tx.xsd">


    <!-- 导入资源文件: 可以使用 @PropertySource 来导入 -->
    <context:property-placeholder
            location="classpath:mysql.properties"
            file-encoding="utf-8"
            ignore-resource-not-found="false"
            ignore-unresolvable="false"
            local-override="true"
            system-properties-mode="ENVIRONMENT"
            order="1"/>
</beans>